<div class="container text-center">
	<div class="row centered-content">
		<div class="snip1331">
	  		<h1>BROWNSTONE RESERVE</h1>
	  		<h5>Events Venue</h5>
	  		<h6>Est. 2016</h6>
		</div>
		<hr/>
		</div>
		<div class="row marketing">
	
			
			<h2><span class="script-text">BRAZOS VALLEY'S NEWEST WEDDING VENUE!</span></h2>
			
			<p class="text-overflow">
	     		BROWNSTONE RESERVE offers the most peaceful and romantic experiences imaginable in the Bryan-College Station
					area. We offer over 10,000sf designed with the bride and groom in mind. An outdoor ceremony site between two natural 
					spring ponds on 17.5 acres. Our target is to provide the perfect setting for a day you’ll remember for a lifetime. Rising 
					effortlessly to the grand occasion, BROWNSTONE RESERVE retains a homely and welcoming feel, even if you’re planning 
					an impressive event for up to 300 guests. Our attention to detail and passion for excellence are sure to exceed your 
					every expectation.
			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>	
</div>
